<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<div style="padding: 15px 20px 15px 20px";>	
	<p style='font-size: 15px;
	    font-weight: bold;
	    color: #2d2b2b;'>MESSAGE FROM SKILLUPSPORT</p>
    <p><%=@sender.full_name%> says</p>
    <hr>
    <p><%=@message.content%></p>
    <hr>
 </body>
</html>