<form action="http://maps.google.com/maps" method="get" target="_blank">
 <input type="submit" value="Get directions from">   
 <input type="text" name="saddr">
   <%= hidden_field_tag( 'daddr', "#{object.lat},#{object.lng}" ) %>
</form>