<p>You know how when you're in a new city and want to play your favourite sport but can't find the people to play with -- or can't find the right people at your skill level? There's so much to coordinate - meeting new players, setting up the time and place, etc. etc.</p> 
<p>We were in this situation way too many times. Finally we decided to partner up and build something that people can use to find each other, set up games, and continue coaching each other to become better players. That's how Skillupsport was born.</p>
<p>Welcome to the Skillupsport beta community. We'll see you on the court!<p>
<p>- Jan & Vincent<p>