<script>function myfunction() {
     document.getElementById('car_next').click();
 }
 var delay = 5000;
</script>
<body onload="setTimeout( myfunction, delay )">
<div id="myCarousel" class="carousel slide " data-interval='5000'>
<!-- Carousel items -->
<div class="carousel-inner">
<div class="item active"><%=  image_tag('home_bv01.jpg')%></div>
<div class="item"><%=  image_tag('home_v01.jpg')%></div>
<div class="item"><%=  image_tag('home_run01.jpg')%></div>
</div>
<!-- Carousel nav -->
<a class="carousel-control left"  href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" id="car_next" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</body>