<div class="row-fluid">
<div class='frame'>
<div class="span4">
<p><%= t('.text')%></p>
<%= button_to(t('.button'), edit_user_path(current_user), :class => 'btn btn-large btn-success', :method => :get) %>
</div>
</div>
</div>