<%= javascript_tag do %>
  window.searcheventURL = '<%= j search_path %>';
  window.neweventURL = '<%= j new_event_path %>';
<% end %>
<div class='row-fluid'>
<div class="i_myevents pull-left">My Events</div><div class="pull-right visible-desktop" id='host_event'>HOST A SPORTING EVENT</div><div class=" pull-right visible-desktop" id='search_event'><%=t('search')%> EVENT</div>
</div>