/* login*/

.text_line {
    border-bottom:1px solid #91BED4;
    line-height:16px;
    text-align:center;
    margin: 10px 0 10px 0;
}

.text_inline {
    background:#FFF;
    position:relative;
    bottom:-8px;
    padding:0 15px;
}

/* main page elements*/

.header {
  border: solid 1px #bdbebf;
  background-image: -webkit-linear-gradient(bottom, #f0f0f2, #fff);
  background-image: -moz-linear-gradient(bottom, #f0f0f2, #fff);
  background-image: -o-linear-gradient(bottom, #f0f0f2, #fff);
  background-image: -ms-linear-gradient(bottom, #f0f0f2, #fff);
  background-image: linear-gradient(to top, #f0f0f2, #fff); 
  height: 58px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
   h3 {
     text-align: left;
     padding-left: 15px;}

}

.subheader_wrapper {
  background-color: #e3e0e1;
  height: 40px;
}

.subheader_inner {
  padding: 10px 0px 0px 10px;
}

.part_wrapper {
  background-color: #e3e0e1;
  height: 60px;
}

.part_inner {
  padding: 10px 0px 0px 10px;
}

.blue_box{
 background-color: #f0f8fc;
}

.frame{
  padding: 15px 20px 15px 20px;
  h5 { padding: 0px 0 5px 0}
}



.content_frame { background-color: white;
                 min-height:200px;
                 margin: 0 0 20px;
                 border: solid 1px #bdbebf;
				 border-top: none;
				 border-bottom-left-radius: 4px;
				 border-bottom-right-radius: 4px;
                 padding: 5px 15px 15px 15px;
                 }

.lhn          { padding: 10px 10px 10px 10px; }

.lhn_active {       background-color: white;
				 border: solid 1px #bdbebf;
				 border-right: none;
				 border-bottom-left-radius: 4px;
				 border-top-left-radius: 4px;
				 padding: 10px 10px 10px 10px;
}

.lhn:hover {       background-color: white; cursor: pointer;
				 border: solid 1px #bdbebf;
				 border-right: none;
				 border-bottom-left-radius: 4px;
				 border-top-left-radius: 4px;}
				


/* Buttons  and icons*/

@mixin button_base($pos) { cursor: pointer;
              background: url('buttons.png') no-repeat -10px $pos;
			  border: none;
			  font-family: Lato; 
			  font-weight: bold;
			  text-transform: uppercase;
			  text-decoration: none;
			  color: #fff;
			  text-shadow: -1px 1px rgba(0,0,0,.3);}

@mixin button_padsize { width: 190px; height: 35px;
                       padding: 17px 10px 0px 45px;}

@mixin i_h_base($pos) { background: url('icons.png') no-repeat 0px $pos; 
					    width: 190px; height: 40px;
						font-size: 24px; font-weight: bold;
						padding: 20px 0px 0px 65px;}

@mixin i_sh_base($pos) { background: url('icons.png') no-repeat -455px $pos; 
						width: 400px; height: 40px;
						font-size: 21px; font-weight: bold;
						padding: 10px 0px 0px 50px;}

@mixin i_lhn_base($pos) { background: url('icons.png') no-repeat -294px $pos; 
						width: 130px; height: 23px;
						font-size: 15px;font-weight: bold;
						padding: 0px 0px 0px 29px;}


.i_myevents { @include i_h_base(-47px)}
.i_dashboard { @include i_h_base(5px)}
.i_mysport { @include i_h_base(-97px)}
.i_myprofile { @include i_h_base(-145px)}
.i_myprogress { @include i_h_base(-198px)}
.i_mysf { @include i_h_base(-247px)}

.i_sh_detail { @include i_sh_base(-4px)}
.i_sh_set_up { @include i_sh_base(-54px)}
.i_sh_rate { @include i_sh_base(-103px)}

.i_lhn_dashboard { @include i_lhn_base(-9px)}
.i_lhn_myevents { @include i_lhn_base(-40px)}
.i_lhn_mysports { @include i_lhn_base(-67px)}
.i_lhn_myprogress { @include i_lhn_base(-110px)}
.i_lhn_mysf { @include i_lhn_base(-145px)}

.i_h_profile { background: url('icons.png') no-repeat -285px -175px; 
						width: 70px; height: 23px;
                        padding: 10px 0px 0px 40px !important;}
.i_h_profile:hover{  background: url('icons.png') no-repeat -285px -210px;}
			
#search_event { @include button_base(-96px);
                @include button_padsize; }

#search_event:hover { @include button_base(-144px);}
						
#host_event { @include button_base(0px); 
			  width: 210px; height: 35px;
			  padding: 17px 0px 0px 45px;}

#host_event:hover { @include button_base(-48px);}

#facebook { cursor: pointer;
            margin-top: 15px;
            margin-left: auto;
		    margin-right: auto;
			 background: url('buttons.png') no-repeat -10px -295px; 
			 width: 300px; height: 50px }

#facebook_signup { cursor: pointer;
			margin-top: 15px;
			margin-left: auto;
		    margin-right: auto;
			background: url('buttons.png') no-repeat -10px -420px; 
			width: 300px; height: 50px }

.b_search { @include button_base(-549px);
			width: 100px; height: 40px;
			padding: 3px 70px 10px 30px;
			margin-left: 10px; }

.b_search:hover { @include button_base(-595px) }

.b_unsign  { @include button_base(-195px);
         width: 300px; height: 35px;
         padding: 17px 100px 30px 50px;}
.b_unsign:hover { @include button_base(-244px);}

.b_sign_up { @include button_base(-638px);
         width: 300px; height: 35px;
         padding: 17px 100px 30px 50px;}

.b_sign_up:hover { @include button_base(-692px);}

.b_rate { @include button_base(-745px);
         width: 400px; height: 35px;
         padding: 17px 200px 30px 50px;}

.b_rate:hover { @include button_base(-801px);}

.b_add_sf { @include button_base(-853px);
		  width: 200px; height: 30px;
		  padding: 18px 20px 10px 50px;}

.b_add_sf:hover { @include button_base(-906px);}	

.b_send { @include button_base(-957px);
			width: 180px; height: 30px;
		   padding: 18px 0px 10px 50px;}
		
.b_send:hover { @include button_base(-1009px);}




/* Search bar*/

.sb_wrapper {width: 900px; height: 40px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: #292c33; -webkit-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 2px rgba(255,255,255,.3); -moz-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 2px rgba(255,255,255,.3); box-shadow: 0 1px rgba(255,255,255,.3), inset 0 2px rgba(255,255,255,.3); border: solid 1px #000; background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3), rgba(255,255,255,.3)); background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3), rgba(255,255,255,.3)); background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3), rgba(255,255,255,.3)); background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.3), rgba(255,255,255,.3)); background-image: linear-gradient(to top, rgba(0,0,0,.3), rgba(255,255,255,.3));
padding: 10px 0px 1px 0px;
margin-bottom: 15px;
  select {	background-color: #fff;};
  input[type="text"] {	background-color: #fff;};
    }

.sb_text {font-size: 17px; font-weight: bold; color: #fff;
          padding: 0px 15px 0px 15px;}

/* Feedback */

.rating td {
		    text-align: center;
		    font-size: 15px;
		    width: 120px;
		    height: 84px;
		     }

.rating td.worse{
           background-color: #ebd4d2;
           border: solid 1px #c4c2c2;
           border-right: none;  
           color: #530800;
            }

.rating td.same{
		   background-color: #eaebd2;
		   border: solid 1px #c4c2c2;
		   border-right: none;  
		   color: #533500;
		     }

.rating td.better{
		   background-color: #d5ecd2;
		   border: solid 1px #c4c2c2; 
		   color: #0d4e05;
		   }

.rating td.wselected{
		   border: solid 1px #a25b58;
		   font-weight: bold;
		   }

.rating td.sselected{
		   border: solid 1px #a37456;
		   font-weight: bold;
		   }

.rating td.bselected{
		   border: solid 1px #6a9465;
		   font-weight: bold;
		   }

.rating td.worse:hover{ cursor: pointer;
		   border: solid 1px #a25b58;
		   font-weight: bold;
		   }

.rating td.same:hover{ cursor: pointer;
		   border: solid 1px #a37456;
		   font-weight: bold;
		   }


.rating td.better:hover{ cursor: pointer;
		  border: solid 1px #6a9465;
		  font-weight: bold;
		  }

.rating td.no{ border: none;
          color: white
          }


/*text formating*/

.event_title{font-size: 18px; font-weight: bold; color: #2d2b2b;
             margin: 0px 0 10px 0 }

.link_big { font-size: 23px; font-weight: bold; color: #0b689d; }
.link_mid { font-size: 21px; font-weight: bold; color: #0b689d; }
.link_normal { font-size: 15px; font-weight: bold; color: #0b689d; }
.link_small { font-size: 16px; font-weight: bold; text-decoration: underline; color: #0b689d; }
.link_min { font-size: 13px; font-weight: bold; color: #0b689d; }

.red_23 { font-size: 23px; font-weight: bold; color: #a71601; }
.red_18 { font-size: 18px; font-weight: bold; color: #a71601; }
.green_18{ font-size: 18px; font-weight: bold; color: #455a08; }
.dred_15 { font-size: 15px; font-weight: bold; color: #670205; }
.dred_16 { font-size: 16px; color: #670205; } 
.dred_18 { font-size: 18px; font-weight: bold; color: #670205; } 
.black_18 { font-size: 18px; font-weight: bold; color: #272626; }
.black_15 { font-size: 15px; font-weight: bold; color: #272626; }
.grey_23 { font-size: 23px; font-weight: bold; color: #2d2b2b;}
.grey_18 { font-size: 18px; font-weight: bold; color: #2d2b2b;}
.grey_15 { font-size: 15px; color: #1a1819; }
.left10px {margin-left: 10px;}