<div class='map_container'><div id="googlemap"></div></div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&language=<%=I18n.locale.to_s%>" type="text/javascript"></script>

<script type="text/javascript">
 var mylat = <%=@event.location.lat%>;
 var mylng = <%=@event.location.lng%>; 
 var map = new google.maps.Map(document.getElementById('googlemap'), {
    center: new google.maps.LatLng(mylat, mylng),
    zoom: 15
  });

 var request = {
    reference: '<%=@event.location.reference%>'
  };

 var infowindow = new google.maps.InfoWindow();
 var service = new google.maps.places.PlacesService(map);

  service.getDetails(request, function(place, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
	  document.getElementById('loc_address').innerHTML = place.formatted_address;
	 if (place.formatted_phone_number){
	  document.getElementById('loc_phone').innerHTML = place.formatted_phone_number;}
	 if (place.website){
	  document.getElementById('loc_website').innerHTML = place.website; 
	  document.getElementById('loc_website').href= place.website;}
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }
  });
</script>